@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";
@import 'https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap';
:root{
    --color-green: #f1a709;
}
*{
                margin:0;
                padding: 0;
                border: 0;
            }
            body{
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                font-family: 'Open Sans', sans-serif;
            }
            header{
                padding: 32px;
                border-bottom: 1px solid rgb(112, 44, 44);
                background: rgba(73, 4, 66, 0.1);
            }
            .links{
                text-align: center;
                padding-bottom: 20px;
            }

            .links a{
                color: #030303;
                font-size: 18px;
                line-height: 28px;
                margin: 0 16 px;
                text-decoration: none;
                padding-bottom: 3px;

            }
           .links a:hover{
                color: var(--color-green);
                transition: color 700ms;
                transform-origin: left;
            }
            #wrapper{
                text-align: center;
                padding: 25px;
                }

            #wrapper img{
                height: 140px;
                border-radius: 20px 20px;
                border: 1px solid var(--color-green);
                margin-bottom: 20px; 

            } 
            #wrapper ul{
                font-family: 'Yusei Magic';
                color:rgb(44, 82, 6);
                font-size: 30px;
                line-height: 50px;
            }
            #wrapper li{
                font-family: 'Poppins';
                color:rgb(54, 51, 6);
                font-size: 15px;
                line-height: 20px;
                margin-top: 8px;
            }
            #wrapper p{
                max-width: 500px; 
                margin: 20px auto;
                font-size: 18px;
                line-height: 21px;

            }
            
            }
        #links-footer a{
            border-bottom: 3px solid var(--color-green);
          }